<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-start">
            <a href="#" class="btn btn-outline-primary">Button</a>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end">
            <form class="form-inline" method="post" action="https://formspree.io/">
                <input type="email" name="email" class="form-control" placeholder="Enter email">
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nachname</th>
                        <th>Vorname</th>
                        <th>Straße</th>
                        <th>Wohnort</th>
                        <th>Alter (Geburstdatum)</th>
                        <th>Letzter Termin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>